### Kube Deploy Section ###

variables:
  DEPLOY_REF: latest # The git-ref for the default config
  DEPLOY_VARS: '{
    "GUI_IMAGE": "ghcr.io/epos/epos-gui:sha-$CI_COMMIT_SHA",
    "PROJECT_NAME": "$CI_PROJECT_PATH_SLUG",
    "CI_COMMIT_REF_SLUG": "$CI_COMMIT_REF_SLUG",
    "ENV_STAGE": "development"
    }' # PROJECT_NAME, CI_COMMIT_REF_SLUG and ENV_STAGE need to be provided as a minimum

workflow:
  rules:
    - if: $CI_COMMIT_TAG
      variables:
        DEPLOY_VARS: '{
          "GUI_IMAGE": "$CI_REGISTRY_IMAGE/deploy:$CI_COMMIT_REF_SLUG",
          "PROJECT_NAME": "$CI_PROJECT_PATH_SLUG",
          "CI_COMMIT_REF_SLUG": "$CI_COMMIT_REF_SLUG",
          "ENV_STAGE": "development"
          }'
    - when: always

include:
  - project: "epos/k8s-epos-deploy"
    ref: latest #apis-newgui
    file: ".gitlab-kube-include.yml"

###########################

# Add 'deploy' in a suitable position in the stages section
stages:
  - build-image
  - deploy

build-image:
  services:
    - docker:dind
  image: docker
  tags:
    - docker-builder
  stage: build-image
  rules:
    - if: $CI_COMMIT_TAG
    - when: never
  script:
    - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
    - docker build -f Dockerfile -t "$CI_REGISTRY_IMAGE/deploy:$CI_COMMIT_REF_SLUG" .
    - docker push "$CI_REGISTRY_IMAGE/deploy:$CI_COMMIT_REF_SLUG"
