@import 'src/sassFramework/variables.scss';

::ng-deep div:has(> .header) {
  overflow: hidden;
}

::ng-deep .mat-dialog-content {
  height: 100% !important;
}

div.contentWrapper {
  margin: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

div.filter {
  margin-bottom: 10px;
  div.top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 60px;
    gap: 25px;
    overflow: auto;

    div.alphabet {
      ul {
        display: flex;
        flex-direction: row;
        gap: 2px;

        li {
          cursor: pointer;
          padding: 5px;
          font-weight: bold;

          &:hover {
            background-color: $color-primary-l;
          }
        }

        li.disabled {
          color: grey;
          cursor: unset;
          font-weight: normal;
          &:hover {
            background-color: transparent !important;
          }
        }

        li.danger {
          background-color: $color-secondary;
        }
      }
    }
  }
}

.ecvsCategoriesBoxes {
    flex: 1;                 /* ⬅️ fills remaining space */
  width: 100%;
  padding: 10px;
  overflow-y: auto;
  overflow-x: hidden;
  min-height: 0;
}
.ECVCategory{
  display: flex;
  width: 33.33%;
  height: 100%;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  border: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
}
.ECVCategoryHeader {
  width: 100%;
  height: 40px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 10px;
  font-weight: bold;
}
.ecv-letter {
  margin: 8px 0;
  font-size: 16px;
  font-weight: 600;
}

#atmosphere {
  background-color: $color-primary;
}
#land {
  background-color: $color-secondary;
}
#ocean {
  background-color: $color-tertiary;
}

div.result {
  width: 100%;
  overflow: auto;
  overflow-x: hidden;
  min-height: 200px;
  height: 400px;
  padding: 10px;
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;

  .block {
    span.title {
      font-weight: bold;
    }
    ul {
      margin-left: 10px;
      margin-bottom: 10px;
    }
  }
}

div.actions {
  width: 100%;
  height: 60px;
  position: absolute;
  bottom: 0;
  margin: 0 auto;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  padding-right: 20px;
}

